{% load staticfiles %}

<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/exporting.js' %}"></script>
<script src="{% static 'js/grid_theme.js' %}"></script>


<script type="text/javascript">

    function pad(n, width, z) {
      z = z || '0';
      n = n + '';
      return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    category_list = [];
    for(var year = 2012; year < 2016; year++)
        for(var month=1; month < 13; month++) 
            if (year < 2015 || month == 1)
                category_list.push(year + '.' + pad(month, 2));

    jschart = {};
    jschart['price'] = [];

    {% for val in chart.price %}
        {% if val %}
            jschart['price'].push({{val}})
        {% else %}
            jschart['price'].push(null)
        {% endif %}
    {% endfor %}

    console.log(jschart['price']);
    
    console.log(category_list)
    $(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'xy',
            },
            plotOptions: {
                series: {
                    connectNulls: true
                }
            },
            title: {
                text: 'Average Monthly Rental Price in Singapore'
            },
            subtitle: {
                text: 'Source: Internal source'
            },
            xAxis: [{
                categories: category_list
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value} SGD',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: 'Average price',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: 'Record count',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} ',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: 'Record count',
                type: 'column',
                yAxis: 1,
                data: {{chart.count}},
                tooltip: {
                    valueSuffix: ''
                }

            }, {
                name: 'Average price',
                type: 'spline',
                data: jschart['price'],
                tooltip: {
                    valueSuffix: ' SGD'
                }
            }]
        });
    });
</script>

