
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
      	<title>Find latitude and longitude with Google Maps</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAgrj58PbXr2YriiRDqbnL1RSqrCjdkglBijPNIIYrqkVvD1R4QxRl47Yh2D_0C1l5KXQJGrbkSDvXFA"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript">
//<![CDATA[
var gs_d=new Date,DoW=gs_d.getDay();gs_d.setDate(gs_d.getDate()-(DoW+6)%7+3);
var ms=gs_d.valueOf();gs_d.setMonth(0);gs_d.setDate(4);
var gs_r=(Math.round((ms-gs_d.valueOf())/6048E5)+1)*gs_d.getFullYear();
var gs_p = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + gs_p + "s.gstat.orange.fr/lib/gs.js?"+gs_r+"' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>


<body>
    {{count}}

    {% for address in address_list %}
        <li>{{address}}</li>
    {% endfor %}

<script type="text/javascript">
    //<![CDATA[
    if (typeof _gstat != "undefined") _gstat.audience('','pagesperso-orange.fr');
    //]]>
</script>

</body>
    <script type="text/javascript">



    function showAddress(address) {
        console.log(address);
       if (geocoder) {
        geocoder.getLatLng(
          " Singapore" + address,
          function(point) {
            if (!point) {
              console.log(address + " not found");
            } else {
                console.log("ok");
                if (address.indexOf())
                myurl = '/coordinate?' + "lat=" + point.lat() + "&lng="  + point.lng() + "&postalcode=" + address;
                $.get(myurl, function(data, status) {
//                    console.log(transaction_id);
                });
            }
          }
        );
      }
    }

    $(document).ready(function() {

        setTimeout(function(){
            window.location.reload(1);
        }, 20000);

        geocoder = new GClientGeocoder();

        {% for address in postal_codes %}
            setTimeout(function () {
                showAddress("{{address|safe}}");
            }, 400 * {{forloop.counter}});
        {% endfor %}
        console.log("done");
    });

    </script>



</html>
