{% extends 'base.html' %}
{% load transaction_template_tags %}
{% block body %}

<div class="row" style="background-color: wheat; padding-top: 20px">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
    {% include 'base_form.html' %}
    </div>
</div>

<div id="results" class="row" style="padding-top: 20px; padding-bottom: 50px">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
    <div class="row" style="text-align: center; padding-bottom: 20px">
        {{result_count}} results found. Displays at most 500 results.
    </div>

    <table style="width:100%;" border="1">
        <tr>
            <td style="text-align: center">Type</td>
            <td style="text-align: center">Name</td>
            <td style="text-align: center">Address</td>
            <td style="text-align: center">Postal Code</td>
            <td style="text-align: center">Year</td>
            <td style="text-align: center">Month</td>
            <td style="text-align: center">Number of Bedroom</td>
            <td style="text-align: center">Size (sqft)</td>
            <td style="text-align: center">Monthly Price</td>

        </tr>

    {% for transaction in transactions %}
        <tr>
            <td style="text-align: center">{{transaction.type|actualType}}</td>
            <td>{{transaction.name|refine}}</td>
            <td>{{transaction.address|refine}}</td>
            <td style="text-align: center">{{transaction.postal_code|refine}}</td>
            <td style="text-align: center">{{transaction.year|refine}}</td>
            <td style="text-align: center">{{transaction.month|refine}}</td>
            <td style="text-align: center">{{transaction.room_count|refine}}</td>
            <td style="text-align: center">{{transaction|area_sqft_range}}</td>
            <td style="text-align: center">{{transaction.monthly_rent}}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endblock body %}


